.step-progress-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.step-progress-item {
	margin: 0;
	padding: var(--step-progress-padding-vertical)
		var(--step-progress-padding-horizontal);
	border-style: solid;
	border-width: var(--step-progress-border-width);
	border-radius: var(--step-progress-border-radius);
}

.step-progress-item--bullets {
	border-radius: 50%;
	aspect-ratio: 1 / 1;
	padding: 0;
}

.step-progress-item--bullets-size-s {
	width: var(--size-general-1x);
	height: var(--size-general-1x);
}

.step-progress-item--bullets-size-m {
	width: var(--size-general-1_5x);
	height: var(--size-general-1_5x);
}

.step-progress-item--bullets-size-l {
	width: var(--size-general-2x);
	height: var(--size-general-2x);
}

.step-progress-mode-pending {
	border-color: var(--step-progress-border-color);
	background-color: var(--step-progress-background-color);
	color: var(--step-progress-color);
}

.step-progress-label {
	color: var(--step-progress-color);
	font-weight: 500;
}

.step-progress-mode-info {
	border-color: var(--step-progress-border-color-info);
	background-color: var(--step-progress-background-color-info);
	color: var(--step-progress-color-info);
}

.step-progress-label-mode-info {
	color: var(--step-progress-label-color-info);
}

.step-progress-mode-warning {
	border-color: var(--step-progress-border-color-warning);
	background-color: var(--step-progress-background-color-warning);
	color: var(--step-progress-color-warning);
}

.step-progress-label-mode-warning {
	color: var(--step-progress-label-color-warning);
}

.step-progress-mode-error {
	border-color: var(--step-progress-border-color-error);
	background-color: var(--step-progress-background-color-error);
	color: var(--step-progress-color-error);
}

.step-progress-label-mode-error {
	color: var(--step-progress-label-color-error);
}

.step-progress-mode-success {
	border-color: var(--step-progress-border-color-success);
	background-color: var(--step-progress-background-color-success);
	color: var(--step-progress-color-success);
}

.step-progress-label-mode-success {
	color: var(--step-progress-label-color-success);
}

.step-progress-mode-primary {
	border-color: var(--step-progress-border-color-primary);
	background-color: var(--step-progress-background-color-primary);
	color: var(--step-progress-color-primary);
}
.step-progress-label-mode-primary {
	color: var(--step-progress-label-color-primary);
}

.step-progress-mode-secondary {
	border-color: var(--step-progress-border-color-secondary);
	background-color: var(--step-progress-background-color-secondary);
	color: var(--step-progress-color-secondary);
}
.step-progress-label-mode-secondary {
	color: var(--step-progress-label-color-secondary);
}

.step-progress-mode-tertiary {
	border-color: var(--step-progress-border-color-tertiary);
	background-color: var(--step-progress-background-color-tertiary);
	color: var(--step-progress-color-tertiary);
}
.step-progress-label-mode-tertiary {
	color: var(--step-progress-label-color-tertiary);
}
