:root[data-theme="light"] {
	/* common */
	--focus-outline: var(--whiteSpace-general-_5x) solid
		var(--palette-primary-100);
	--focus-outline-offset: 0;
	--focus-border: var(--palette-primary-300) solid 1px;

	--text-primary: var(--palette-base-800);
	--text-secondary: var(--palette-base-600);
	--text-tertiary: var(--palette-base-400);
	--background: var(--palette-base-0);
	--background-secondary: var(--palette-secondary-50);
	--background-tertiary: var(--palette-base-300);
	--background-green: var(--palette-primary-50);

	/* background, divider */
	--background-subtle-background-color: var(--palette-base-0);
	--divider-subtle-background-color: var(--palette-base-400);
	--divider-strong-background-color: var(--palette-base-600);
	--background-strong-background-color: var(--palette-base-0);
}
