.heading {
	margin: 0;
	font-family: var(--font-family-secondary);
	letter-spacing: -0.96px;
}

h1.heading {
	font-weight: 600;
	font-size: var(--font-size-5xl);
	line-height: var(--font-size-7xl);
}

h2.heading {
	font-weight: 600;
	font-size: var(--font-size-4xl);
	line-height: var(--font-size-5xl);
}

h3.heading {
	font-weight: 600;
	font-size: var(--font-size-l);
}

h4.heading {
	font-weight: 500;
	font-size: var(--font-size-m);
}

h5.heading {
	font-weight: 500;
	font-size: var(--font-size-s);
}

h6.heading {
	font-weight: 500;
	font-size: var(--font-size-xs);
}
