@font-face {
	font-family: "FixelDisplay";
	src: url("../../../public/fonts/FixelDisplay-ExtraBold.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "FixelDisplay";
	src: url("../../../public/fonts/FixelDisplay-Bold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "FixelDisplay";
	src: url("../../../public/fonts/FixelDisplay-SemiBold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "FixelDisplay";
	src: url("../../../public/fonts/FixelDisplay-Medium.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "FixelDisplay";
	src: url("../../../public/fonts/FixelDisplay-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "FixelDisplay";
	src: url("../../../public/fonts/FixelDisplay-Thin.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "FixelDisplay";
	src: url("../../../public/fonts/FixelDisplay-Light.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "FixelDisplay";
	src: url("../../../public/fonts/FixelDisplay-ExtraLight.woff2")
		format("woff2");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "FixelText";
	src: url("../../../public/fonts/FixelText-ExtraBold.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "FixelText";
	src: url("../../../public/fonts/FixelText-Bold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "FixelText";
	src: url("../../../public/fonts/FixelText-SemiBold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "FixelText";
	src: url("../../../public/fonts/FixelText-Medium.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "FixelText";
	src: url("../../../public/fonts/FixelText-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "FixelText";
	src: url("../../../public/fonts/FixelText-Thin.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "FixelText";
	src: url("../../../public/fonts/FixelText-Light.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "FixelText";
	src: url("../../../public/fonts/FixelText-ExtraLight.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
}

:root {
	--font-family: "FixelDisplay", sans-serif;
	--font-family-secondary: "FixelText", sans-serif;
}
