.size-inherit {
	font-size: inherit;
}

.size-xs {
	font-size: var(--font-size-xs, 10px);
}

.size-s {
	font-size: var(--font-size-s, 12px);
}

.size-m {
	font-size: var(--font-size-m, 14px);
}

.size-l {
	font-size: var(--font-size-l, 16px);
}

.size-xl {
	font-size: var(--font-size-xl, 18px);
}

.size-2xl {
	font-size: var(--font-size-2xl, 20px);
}

.size-3xl {
	font-size: var(--font-size-3xl, 22px);
}

.size-4xl {
	font-size: var(--font-size-4xl, 24px);
}

.mode-primary {
	color: var(--text-primary);
}

.mode-secondary {
	color: var(--text-secondary);
}

.mode-tertiary {
	color: var(--text-tertiary);
}

.mode-inherit {
	color: inherit;
}
